@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@{
    var mhcSite = Umbraco.TypedContent(1137);
    var children = mhcSite.Children.Where(x => x.IsVisible());
}
<div class="header-proposition">
    <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
            <a href="@mhcSite.Url" id="proposition-name">@mhcSite.Name</a>
            <ul id="proposition-links">
                @foreach (var item in children)
                {
                    <li><a class="@(item.IsAncestorOrSelf(Model.Content) ? "active" : null)" href="@item.Url">@item.GetPropertyValue("pageTitle")</a></li>
                }
            </ul>
        </nav>
    </div>
</div>