@inherits UmbracoTemplatePage
@using Umbraco.Web;
@{
    var home = Umbraco.TypedContentAtRoot().FirstOrDefault();
    var children = home.Children.Where(x => x.IsVisible());
    var currentPage = Umbraco.TypedContent(UmbracoContext.Current.PageId);
}

@if (home.Name.Equals(currentPage.Name)) {
    <nav class="top-bar nav" id="menu" data-animate="hinge-in-from-top spin-out" aria-label="main-navigation">
        <div class="container">
            <ul class="vertical medium-horizontal menu dropdown">
                <li><a href="jncc.gov.uk"><i class="fas fa-chevron-left fa-fw"></i> Main site</a></li>
                <li class="active"><a href="@home.Url"><i class="fas fa-database fa-fw"></i> @home.Name</a></li>
                @foreach (var item in children)
                {
                    <li><a href="@item.Url">@item.GetPropertyValue("pageTitle")</a></li>
                }
            </ul>
        </div>
    </nav>
}
else
{
    <nav class="top-bar nav no-page-hero" id="menu" data-animate="hinge-in-from-top spin-out" aria-label="main-navigation">
        <div class="container">
            <ul class="vertical medium-horizontal menu dropdown">
                <li><a href="#"><i class="fas fa-chevron-left fa-fw"></i> Main site</a></li>
                <li class="@(currentPage.Name.Equals("Biotopes") ? "active" : null)"><a href="@home.Url"><i class="fas fa-database fa-fw"></i> @home.Name</a></li>
                @foreach (var item in children)
                {
                    <li class="@(!currentPage.Name.Equals("Biotopes") && item.IsAncestorOrSelf(Model.Content) ? "active" : null)"><a href="@item.Url">@item.GetPropertyValue("pageTitle")</a></li>
                }
            </ul>
        </div>
    </nav>
}
