@using System.Text
@inherits UmbracoViewPage<website.Models.BiotopeModel>

@{
    Layout = "~/Views/Master.cshtml";

    string biomapUrl = "http://www.emodnet-seabedhabitats.eu/plugins/MESHAtlanticMapper/proxyhandler.ashx?mapInstance=MESHAtlanticMap_&LAYERS=World,HabitatsCeltNorth_MNCR,Marine_recorder&FORMAT=AGGpng&TRANSPARENT=false&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&STYLES=&SRS=EPSG:900913&BBOX=-1713570.8712341,6194116.7632935,487815.54307256,9129298.6490359&WIDTH=300&HEIGHT=400&map.layer[World].class[0].style[0]=OUTLINECOLOR+180+180+180+COLOR+255+255+255&MNCRCode=" + Model.Biotope.ORIGINAL_CODE;

    StringBuilder biotopeHierarchy = new StringBuilder("");

    foreach (var biotope in Model.Biotope.WEB_BIOTOPE_HIERARCHY)
    {
        biotopeHierarchy
            .Append(biotope.BIOTOPE_KEY)
            .Append(" >> ");
    }

}

<div class="grid-row">
    <div class="column-full">
        <a class="link-back" href="@Model.Content.Parent.Url">Back</a>
        @Html.Partial("~/Views/Partials/SectionHeader.cshtml")
        <h2>Full hierarchy @biotopeHierarchy</h2>
        <h1>@Html.Raw(HttpUtility.HtmlDecode(Model.Biotope.FULL_TERM))</h1>
    </div>
</div>



<div class="grid-row">
    <div class="biotope">
        <div class="column-two-thirds">
            <div class="grid-row">
                <div class="column-full">
                    <table>
                        <caption class="heading-small">Habitat (physical) description</caption>
                        <tbody>
                        <tr>
                            <th>Salinity</th>
                            <td>@Model.Biotope.SALINITY</td>
                        </tr>
                        <tr>
                            <th>Wave exposure</th>
                            <td>@Model.Biotope.EXPOSURE</td>
                        </tr>
                        <tr>
                            <th>Tidal streams</th>
                            <td>@Model.Biotope.TIDAL_STREAMS</td>
                        </tr>
                        <tr>
                            <th>Substratum</th>
                            <td>@Model.Biotope.SUBSTRATUM</td>
                        </tr>
                        <tr>
                            <th>Zone</th>
                            <td>@Model.Biotope.SUBZONE</td>
                        </tr>
                        <tr>
                            <th>Depth Band</th>
                            <td>@Model.Biotope.LANDSCAPE</td>
                        </tr>
                        <tr>
                            <th>Other Features</th>
                            <td>@Model.Biotope.SPECIAL_FEATURES</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-full">
                    <p>
                        <a href="http://jncc.defra.gov.uk/default.aspx?page=3249">Download comparative physical and biological data</a>. The comparative tables enable a rapid comparison of the species composition and principal physical characteristics between a given set of biotopes.
                    </p>

                    <h3>Previous classification codes</h3>
                    <ul>
                        @foreach (var oldCode in Model.OldCodes)
                        {
                            <li>@oldCode.OLD_CODE.Replace("(part)", "in part") - Version @oldCode.VERSION</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="column-one-third">
            <div class="biomap">
                <div class="loading">
                    <img alt="Distribution of habitat @Model.Biotope.ORIGINAL_CODE @Html.Raw(HttpUtility.HtmlDecode(Model.Biotope.FULL_TERM))"
                         src="@biomapUrl" />
                </div>
                <ul>
                    <li><span class="legend">Core records on which the biotope is based</span></li>
                    <li><span class="legend">Non-core records with certain determination</span></li>
                    <li><span class="legend">Non-core records with uncertain determination, tentatively assigned to this biotope</span></li>
                    <li><span class="legend">Predicted habitat extent showing level 2 and 3 sublittoral and deep-sea habitats</span></li>
                </ul>
                <span class="legend">Distribution data based on records on the <a href="http://jncc.defra.gov.uk/page-1599">UK Marine Recorder database</a> and <a href="http://jncc.defra.gov.uk/default.aspx?page=5020">EUSeaMap</a>.</span>
            </div>
        </div>
    </div>
    <div class="column-full">
        <h3>Description</h3>
        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.Biotope.DESCRIPTION))</p>

        <h3>Situation</h3>
        <p>@Model.Biotope.SITUATION</p>

        <h3>Temporal variation</h3>
        <p>@Model.Biotope.TEMPORAL_VARIATION</p>

        <h3>Characterising Species</h3>
        <p></p>

        <div id="similar-biotopes">
            <h3>Similar biotopes</h3>
            @foreach (var biotope in Model.SimilarBiotopes)
            {
                <div class="similar-biotope">
                    <img src="http://jncc.defra.gov.uk/marine/biotopes/images/0003/HIMG0005_large.jpg"/>
                    <div><b>@biotope.RELATED_BIOTOPE_KEY</b><br/>
                        @Html.Raw(HttpUtility.HtmlDecode(biotope.COMMENT))</div>
                </div>
            }
        </div>
    </div>
</div>
