@using System.Text
@using website.Models
@inherits UmbracoViewPage<BiotopeModel>

@{
    Layout = "~/Views/Master.cshtml";

    string biomapUrl = "http://www.emodnet-seabedhabitats.eu/plugins/MESHAtlanticMapper/proxyhandler.ashx?mapInstance=MESHAtlanticMap_&LAYERS=World,HabitatsCeltNorth_MNCR,Marine_recorder&FORMAT=AGGpng&TRANSPARENT=false&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&STYLES=&SRS=EPSG:900913&BBOX=-1713570.8712341,6194116.7632935,487815.54307256,9129298.6490359&WIDTH=300&HEIGHT=400&map.layer[World].class[0].style[0]=OUTLINECOLOR+180+180+180+COLOR+255+255+255&MNCRCode=" + Model.Biotope.OriginalCode;

    // Description
    var descriptionText = string.IsNullOrWhiteSpace(Model.Biotope.Description) ? "No description available." : Model.Biotope.Description;

    // Situation
    var situationText = string.IsNullOrWhiteSpace(Model.Biotope.Situation) ? "No situation data available." : Model.Biotope.Situation;

    // Temporal variation
    var temporalVariationText = string.IsNullOrWhiteSpace(Model.Biotope.TemporalVariation) ? "No temporal variation data available." : Model.Biotope.TemporalVariation;

    // Previous codes
    var previousCodesSB = new StringBuilder();
    if (Model.OldCodes != null && Model.OldCodes.Count > 0)
    {
        previousCodesSB.Append("<h2>Previous classification codes</h2>");
        previousCodesSB.Append("<ul>");
        foreach (var oldCode in Model.OldCodes)
        {
            previousCodesSB.Append("<li>" + oldCode.OriginalCode.Replace("(part)", "in part") + " - Version " + oldCode.Version + "</li>");
        }
        previousCodesSB.Append("</ul>");
    }
    var previousCodesText = previousCodesSB.ToString();


    // Characterising species
    var characterisingSpeciesSB = new StringBuilder();
    if (Model.Species != null && Model.Species.Count > 0)
    {
        characterisingSpeciesSB.Append("<table><thead><tr><th>Taxa</th><th>Frequency</th><th>Typical Abundance <a href=\"http://jncc.defra.gov.uk/page-2684\">?</a></th><th>% Contribution to similarity</th><th>Abundance (no.<sup>2</sup>)</th></tr></thead><tbody>");
        foreach (var species in Model.Species)
        {
            characterisingSpeciesSB.Append("<tr>");
            characterisingSpeciesSB.Append("<td><i>").Append(species.Name).Append("</i></td>");
            characterisingSpeciesSB.Append("<td>").Append(species.Frequency).Append("</td>");
            characterisingSpeciesSB.Append("<td>").Append(species.TypicalAbundance).Append("</td>");
            characterisingSpeciesSB.Append("<td>").Append(species.SimilarityContribution).Append("</td>");
            characterisingSpeciesSB.Append("<td>").Append(species.Abundance).Append("</td>");
            characterisingSpeciesSB.Append("</tr>");
        }
        characterisingSpeciesSB.Append("</tbody></table><br />");
    }
    else
    {
        characterisingSpeciesSB.Append("Characterising species data not applicable.");
    }
    var characterisingSpeciesText = characterisingSpeciesSB.ToString();


    // Similar biotopes
    var similarBiotopesSB = new StringBuilder();
    if (Model.SimilarBiotopes != null && Model.SimilarBiotopes.Count > 0)
    {
        foreach (var biotope in Model.SimilarBiotopes)
        {
            similarBiotopesSB.Append("<div class=\"similar-biotope\">");
            similarBiotopesSB.Append("    <img src=\"http://jncc.defra.gov.uk/marine/biotopes/images/0003/HIMG0005_large.jpg\"/>");
            similarBiotopesSB.Append("    <div>");
            similarBiotopesSB.Append("        <h4><a href=" + string.Format("{0}biotope/{1}", Model.Content.Parent.Url, biotope.BiotopeKey) + ">" + biotope.OriginalCode + "</a></h4>");
            similarBiotopesSB.Append(biotope.Comment);
            similarBiotopesSB.Append("    </div>");
            similarBiotopesSB.Append("</div>");
        }
    }
    else
    {
        similarBiotopesSB.Append("<p>Not applicable or unknown.</p>");
    }
    var similarBiotopesText = similarBiotopesSB.ToString();
}



<div class="grid-row">
    <div class="column-full">
        <a class="link-back" href="@Model.Content.Parent.Url">Back</a>
        @Html.Partial("~/Views/Partials/SectionHeader.cshtml")
        <h2>
            <a href="@Model.Content.Parent.Url">Full hierarchy</a>
            @for (int i = 1; i < Model.BiotopeHierarchy.Count+1; i++)
            {
                BiotopeLevel biotopeCode;
                
                Model.BiotopeHierarchy.TryGetValue(i, out biotopeCode);
                <span> > <a href="@string.Format("{0}biotope/{1}", Model.Content.Parent.Url, biotopeCode.BiotopeKey)">@biotopeCode.OriginalCode</a></span>
            }
        </h2>
        <h1>@Html.Raw(HttpUtility.HtmlDecode(Model.Biotope.FullTerm))</h1>
    </div>
</div>


<div class="grid-row">
    <div class="column-two-thirds">
        <div class="grid-row">
            <div class="column-full">
                <h2>Habitat (physical) description</h2>
                <p>
                    <table>
                        <tbody>
                        <tr>
                            <th>Salinity</th>
                            <td>@Model.Biotope.Salinity</td>
                        </tr>
                        <tr>
                            <th>Wave exposure</th>
                            <td>@Model.Biotope.Exposure</td>
                        </tr>
                        <tr>
                            <th>Tidal streams</th>
                            <td>@Model.Biotope.TidalStreams</td>
                        </tr>
                        <tr>
                            <th>Substratum</th>
                            <td>@Model.Biotope.Substratum</td>
                        </tr>
                        <tr>
                            <th>Zone</th>
                            <td>@Model.Biotope.Subzone</td>
                        </tr>
                        <tr>
                            <th>Depth Band</th>
                            <td>@Model.Biotope.Height</td>
                        </tr>
                        <tr>
                            <th>Other Features</th>
                            <td>@Model.Biotope.SpecialFeatures</td>
                        </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <p>
                    <a href="http://jncc.defra.gov.uk/default.aspx?page=3249">Download comparative physical and biological data</a>. The comparative tables enable a rapid comparison of the species composition and principal physical characteristics between a given set of biotopes.
                </p>

                <p>@Html.Raw(HttpUtility.HtmlDecode(previousCodesText))</p>
            </div>
        </div>
    </div>
    <div class="column-one-third">
        <div class="biomap">
            <div class="loading">
                <img alt="Distribution of habitat @Model.Biotope.OriginalCode @Html.Raw(HttpUtility.HtmlDecode(Model.Biotope.FullTerm))"
                        src="@biomapUrl" />
            </div>
            <ul>
                <li><span class="legend">Core records on which the biotope is based</span></li>
                <li><span class="legend">Non-core records with certain determination</span></li>
                <li><span class="legend">Non-core records with uncertain determination, tentatively assigned to this biotope</span></li>
                <li><span class="legend">Predicted habitat extent showing level 2 and 3 sublittoral and deep-sea habitats</span></li>
            </ul>
            <span class="legend">Distribution data based on records on the <a href="http://jncc.defra.gov.uk/page-1599">UK Marine Recorder database</a> and <a href="http://jncc.defra.gov.uk/default.aspx?page=5020">EUSeaMap</a>.</span>
        </div>
    </div>
    <div class="column-full">
        <h2>Description</h2>
        <p>@Html.Raw(HttpUtility.HtmlDecode(descriptionText))</p>

        <h2>Situation</h2>
        <p>@Html.Raw(HttpUtility.HtmlDecode(situationText))</p>

        <h2>Temporal variation</h2>
        <p>@Html.Raw(HttpUtility.HtmlDecode(temporalVariationText))</p>
        
        <h2>Characterising Species</h2>
        <p>@Html.Raw(HttpUtility.HtmlDecode(characterisingSpeciesText))</p>

        <div id="similar-biotopes">
            <h2>Similar biotopes</h2>
            <p>@Html.Raw(HttpUtility.HtmlDecode(similarBiotopesText))</p>
        </div>
    </div>
</div>
