@using website.Models
@inherits UmbracoTemplatePage
@{
    Layout = null;
    var currentPage = Umbraco.TypedContent(UmbracoContext.Current.PageId);
    var env = new Env();
}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15841534-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-15841534-5');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N4H3VR7');
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        Html.RenderPartial(currentPage.Name.Equals("Biotopes") ? "~/Views/Partials/Header/BiotopePageHeader.cshtml" : "~/Views/Partials/Header/ContentPageHeader.cshtml");
    }
    <link rel="stylesheet" type="text/css" href="/css/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <link rel="stylesheet" media="all" href="/css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" media="all" href="/css/main.css" />
    <link rel="stylesheet" href="/frontend/css/app.css">
    <link rel="shortcut icon" href="/frontend/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script>window.jQuery || document.write('<script src="/frontend/js/lib/jquery-3.3.1.min.js" defer><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/foundation.min.js" defer></script>
    <script src="/frontend/js/app.js" defer></script>
    <script src="/Scripts/cookieconsent2/3.1.0/cookieconsent.js"></script>


    @RenderSection("Header", required: false)
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4H3VR7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Cookie Consent Setup -->
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "cookie": {
                    "name": "cookiePolicyAcceptance",
                    "domain": ".jncc.gov.uk"
                },
                "content": {
                    "message":
                        "The @Umbraco.TypedContentAtRoot().FirstOrDefault().Name uses cookies to make the site simpler.",
                    "link": "Find out more about cookies.",
                    "href": "http://jncc.gov.uk/cookies"
                },
                "palette": {
                    "popup": {
                        "background": "#efefef",
                        "text": "#404040"
                    },
                    "button": {
                        "background": "#218838",
                        "text": "#ffffff"
                    }
                },
                "position": "top",
                "static": true,
                "dismissOnScroll": 1,
                "dismissOnWindowClick": true,
                "dismissOnTimeout": "10"
            });
        });
    </script>

    <noscript><div>Javascript must be enabled for the correct page display</div></noscript>
    <div id="wrapper">
        <a class="accessibility" href="http://jncc.gov.uk" accesskey="S">Skip to Content</a>
        <header id="header">
            <div class="container">
                <strong class="logo">
                    <a href="http://jncc.gov.uk" accesskey="1"><img src="/frontend/images/logo.png" alt="JNCC"></a>
                </strong>
                <form action="@env.JNCC_SEARCH_URL" role="search" class="top-bar search-form input-group" id="search-form" data-animate="hinge-in-from-top spin-out">
                    <label for="search-field" class="show-for-sr" accesskey="4">Search:</label>
                    <input type="search" name="q" placeholder="Search jncc.gov.uk" class="input-group-field" id="search-field">
                    <button class="input-group-button" aria-label="search-button"><i class="icon-search"></i></button>
                </form>
                <div class="show-for-small-only">
                    <div class="title-bar" data-responsive-toggle="search-form" data-hide-for="medium">
                        <button type="button" class="search-opener" data-toggle="search-form" aria-label="search-opener"><i class="icon-search"></i></button>
                    </div>
                    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
                        <button type="button" class="nav-opener" data-toggle="menu" data-responsive-toggle="menu" aria-label="navigation-opener"><span></span></button>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Partials/Navigation/TopNavigation.cshtml")
        </header>
        <p class="container show-for-small-only" style="margin-bottom: 1.5rem;">
            <i class="fas fa-database fa-fw"></i> @Umbraco.TypedContentAtRoot().FirstOrDefault().Name
        </p>
        <main id="main">
            @RenderBody()
        </main>
        <footer id="footer" class="text-center medium-text-left">
            <div class="container">
                <div class="row" id="footer-nav">
                    <div class="columns small-12 medium-4">
                        <nav class="holder" aria-label="footer-navigation">
                            <h3>About us</h3>
                            <ul class="footer-nav no-bullet">
                                <li><a href="https://jncc.gov.uk/about-jncc/">About JNCC</a></li>
                                <li><a href="https://jncc.gov.uk/about-jncc/corporate-information/procurement/">Procurement</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="columns small-12 medium-4">
                        <nav class="holder" aria-label="footer-navigation">
                            <h3>Our work</h3>
                            <ul class="footer-nav no-bullet">
                                <li><a href="https://jncc.gov.uk/our-work/our-work-a-z/">Our work A-Z</a></li>
                                <li><a href="https://hub.jncc.gov.uk/">Resource hub</a></li>
                                <li><a href="https://jncc.gov.uk/news/">News</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="columns small-12 medium-4">
                        <nav class="holder" aria-label="footer-navigation">
                            <h3>Our services</h3>
                            <ul class="footer-nav no-bullet">
                                <li><a href="https://jncc.gov.uk/our-role/">Our role</a></li>
                                <li><a href="https://jncc.gov.uk/monitoring/">Monitoring</a></li>
                                <li><a href="https://jncc.gov.uk/evaluating/">Evaluating</a></li>
                                <li><a href="https://jncc.gov.uk/advice/">Advice</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <ul class="social-media no-bullet">
                    <li><a href="https://twitter.com/JNCC_UK" target="_blank"><span class="show-for-sr">twitter</span><i class="icon-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/JNCCUK" target="_blank"><span class="show-for-sr">facebook</span><i class="icon-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/jncc" target="_blank"><span class="show-for-sr">linkedin</span><i class="icon-linkedin"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UC14QLVv3QA1Xu6Fjdn7GJnw"><span class="show-for-sr">youtube</span><i class="icon-youtube"></i></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <p>&copy; Joint Nature Conservation Committee, Monkstone House, City Road, Peterborough, PE1 1JY<br>Tel: 01733 562626 Fax: 01733 555948. Contact us:&nbsp;<a href="https://jncc.gov.uk/contact/?ref=mhc" title="contact" data-anchor="?ref=mhc">Enquiry form</a><br>JNCC SUPPORT CO. Registered in England and Wales. Company no. 05380206. Registered office as above</p>
                    <ul class="footer-bottom-list no-bullet info">
                        <li><a href="https://jncc.gov.uk/about-jncc/corporate-information/privacy-statement/">Privacy statement</a></li>
                        <li><a href="https://jncc.gov.uk/about-jncc/corporate-information/accessibility-statement/">Accessibility statement</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <a class="accessibility" href="#wrapper">Back to top</a>
</body>
</html>
